@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(font/droidsans.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(font/droidsans-bold.woff) format('woff');
}

.ui-body-c,
body{    
    font-family: 'Droid Sans', sans-serif;    
}

body.ui-overlay-c{
    background:#5a5959 url(../images/menuBg.gif) top left repeat-y;
}

a {
    text-decoration: none;
    color: #221919;
}

.center-button{
    margin: 0 auto;
}

#headerButton{
    margin: 5px auto;
    max-width: 100px;
}

.center-wrapper{
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}

/*Header Category Menu*/
#popupCategoryMenu{
    width:270px;     
    right: -38px;
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    background: rgba(0,0,0,.5);    
    margin: -1px 0;
    padding: 15px 0px 0px 0px;
    min-width: 300px;
    height:100%;
}
#popupPanel .ui-btn {
    /*margin: 2em 15px;*/
}

/*Sidebar Menu*/
#sidebar_menu{width:260px;height:100%;display:block!important;float:left;}#sidebar_menu h3{font-family:arial;font-size:12px;color:#fff;margin:0;background-color:#5a5959;padding:4px 0 4px 10px;background:-webkit-gradient(linear,left top,left bottom,color-stop(5%,rgba(90,89,89,1)),color-stop(85%,rgba(66,65,65,1)));border-top:solid #6b6b6b 1px;border-bottom:solid #3d3d3d 1px;text-shadow:0 -1px 1px #333;}
#sidebar_menu ul{margin:0;padding:0;width:inherit;}#sidebar_menu ul li{list-style-type:none;margin:0;}
#sidebar_menu ul li a:link,#sidebar_menu ul li a:visited{border-bottom:solid #333 1px;box-shadow:0 1px 0 #727272;color:#fff;font-size:14px;text-decoration:none;display:block;padding:10px 0 10px 10px;text-shadow:0 1px 1px #000;}
#sidebar_menu ul li a:hover,#sidebar_menu ul li a:active{background-color:#716f6f;}.active{background-color:#383737;background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#1e1d1d),color-stop(21%,#383737));}

/* Profile sidebar */
#sidebar_menu #user_profile{
    max-height: 55px;
    padding: 3px;
    border-bottom: 1px solid #314047;
}
#sidebar_menu #user_profile img{
    max-height: 50px;
    max-width: 50px;    
}
#sidebar_menu #user_profile .profile_info{
    left: 55px;
    top: -40px;
    position: relative;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 0 0px 0 black;
    overflow: hidden;
    width: 200px;
    max-height: 50px;
}

#sidebar_menu .devide{
    background: #444;
    border-bottom: 1px solid #222;
    border-top: 1px solid #555;
    margin: 0;
    padding: 7px 0px;
}

[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-white{
    background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-th {
    background-position: -240px 0;
}

.icon-heart {
    background-position: -96px 0;
}
.icon-bookmark {
    background-position: -72px -48px;
}
.icon-eye-open {
    background-position: -96px -120px;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-user {
    background-position: -168px 0;
}
.icon-question-sign {
    background-position: -96px -96px;
}
.icon-off {
    background-position: -384px 0;
}
.icon-film {
    background-position: -192px 0;
}
.icon-headphones {
    background-position: -336px -24px;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-file {
    background-position: -24px -24px;
}
.icon-pencil {
    background-position: 0 -72px;
}
.icon-cog {
    background-position: -432px 0;
}
/*Photo album*/
.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }
.missing{ color: red;}
.waiting{
    background: url('../images/loader.gif');
    position: absolute;
    min-width: 32px;
    height: 32px;
    margin: auto;
    margin-top: 70px;
}

.main-pin-wrappper{
    margin:0px;
    background-image:url(../images/bg-wrapper.png);
    border-style:solid;
    border-width:1px;
    border-color:#cccccb;
    margin-bottom:30px!important;
}
.main-pin-wrappper .content-box img{
    margin: 10px;
    background: #005375;
    border: 5px solid white;
    border-radius: 7px;
    color: white;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 0 0 2px 2px #888;
    box-shadow: 0 0 2px 2px #888;   
}
.main-pin-wrappper table td.center{
    text-align: center;
}

.main-pin-wrappper .content-box h3{
    margin: 10px auto;
}
.main-pin-wrappper .content-box p{
    margin-left:20px;
}


.pin-wrapper-bottom-start{
    float:left;
    background-image:url(../images/bottom-start.png);
    background-position-y:1px;
    background-repeat:no-repeat;
    background-color:transparent;
    width:13px;
    height:12px;
    margin-top:0px; 
}

.pin-wrapper-bottom-body{
    float:left;
    background-image:url(../images/bottom-center.png);
    background-repeat:repeat-x;
    background-position-y:1px;
    width:90.5%;
    height:12px;
    margin-top:0px;
}

.pin-wrapper-bottom-end{
    float:left;
    background-image:url(../images/bottom-end.png);
    background-repeat:no-repeat;
    background-position-y:1px;
    width:13px;
    height:12px;
    margin-top:0px;
}


.pinboard .pin {
        border-color: #CCC;
        border: 1px solid #CCC;
        background: white;
        /*border-radius: 10px;*/
	padding: 0 10px 10px;
	position: relative;
	margin: 00px;
        margin-top: 18px;
/*        -webkit-box-shadow: 0px 0px 2px 2px #777;
        box-shadow: 0px 0px 2px 2px #777;        */
}
.pinner {
	border-collapse: collapse;
	width: 100%;
}
.pinner td {
	vertical-align: middle;
	padding: 10px 0;
}

.pinner .pinner_image {
	padding-right: 10px;
	height: 48px;
	width: 48px;
}
.pinner img {
	display: block;
	height: 48px;
	width: 48px;
}
.pinner .right {
	text-align: right;
}

.pin div.image img:not(.video) {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}
.pin .pin_description {
	display: block;
	margin-top: 5px;
}
.pin .pin_description a {
	font-weight: bold;
	color: #221919;
}

.pin_stats {
    margin: 0 0 0px 2px;
    overflow: hidden;
    clear: both;
}
.pin_likes, .pin_comments {
    padding-left: 3px;
    margin: 5px 12px 0 0;
    /*display: none;*/
    float: left;
}

.pin_likes span, .pin_comments span {
    font-weight: bold;
    float: left;
}

.icon {
    margin-right: 5px;
    padding-top: 2px;
    width: 20px;
    float: left;
}

.pin_likes .icon {
    background: url('../images/mobile_icons.png') -19px 0;
    height: 17px;
    width: 18px;
}

.pin_comments .icon {
    background: url('../images/mobile_icons.png') 0px 0;
    height: 17px;
    width: 18px;
}

.pin_likes .icon, .pin_comments .icon {
    margin: 3px 3px 0 -3px;
    float: left;
}

.pin .image,
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
