<a href="petopic_detail.html?id=<%= id%>" data-ajax="false">
    <img class="lazyload" height="160px"  src="images/grey.gif" data-original="<%= $full_base_url+thumbnail %>" alt=""/>
    <h3><%= title %></h3>
    <p><%= description %></p>
</a>