<div class="ui-hide-label">
	<span class="icone-pemo">Photo album:</span>
	<select id="photo_album_id" name="photo_album_id" data-mini="true">
            <% for(var i = 0; i < this.length ; i++){%>
            <option value="<%= this[i].photo_album.id%>"><%= this[i].photo_album.name%></option>                	
            <%}%>
        </select>  
</div>

<div class="ui-hide-label">
	<span class="icone-pemo">Title:</span>
	<input type="text" name="title" id="title" placeholder="" />
</div>

<div class="ui-hide-label">
	<span class="icone-pemo">Photo:</span>
	<!--<a id="image" data-role="button" href="" onclick="getImage();">
            Select image
        </a>-->
        <input type="file" name="photo" id="photo" />
</div>

<div style="padding: 20px 0"><button type="submit" value="Submit" id="btSubmit"></button></div>