<div class="ui-hide-label">
	<span class="icone-pemo"><img src="images/img-email.png" /></span>
	<input type="text" name="email" id="email" value="tumet_iii@yahoo.com" placeholder="Email Address" />
</div>

<div class="ui-hide-label">
	<span class="icone-pemo"><img src="images/img-pass.png" /></span>
	<input type="text" name="password" id="password" value="111111" placeholder="Password" />
</div>

	
<div style="padding: 20px 0"><button type="submit" value="Login" id="btLogin"></button></div>
<div style="text-align:center"><button type="button" value="Register" id="btRegister"></button> </div>

