<div class="main-pin-wrappper">
    <div class="content-box">
        <table width='100%' cellspacing="5">
            <tr>
                <td class='center'>
                    <img src="<%= $full_base_url+this.petopic.thumbnail %>" alt=""/>
                    <h3><%= this.petopic.title %></h3>
                </td>
            </tr>
            <tr>
                <td>
                    <p><%= this.petopic.description %></p>
                </td>
            </tr>
            <tr>
                <td class='center'>
                    <a href="javascript:;;" class="btn" id="followButton"><i class="icon-fire"></i> Follow</a>
                    <a href="javascript:;;" class="btn" id="followAddmein"><i class="icon-plus"></i> Add me in</a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="pin-wrapper-bottom-start"></div>
        <div class="pin-wrapper-bottom-body"></div>
        <div class="pin-wrapper-bottom-end"></div>
    </div>
</div>