<% video = this.video;%>
<div class="main-pin-wrappper">
    <div class="content-box">
        <table width='100%'>
            <tr>
                <td class='center'>
                    <a href="#" title="Play Video" id="playVideo" data-url="<%= video.url %>">
                        <img alt="" src="<%= $full_base_url + video.thumb %>" id="videoPic" />
                    </a>
                    <h3><%= video.title %></h3>
                </td>
            </tr>
            <tr>
                <td>                    
                    <p><%= video.description %></p>
                </td>
            </tr>
            <tr>
                <td class='center'>
                   <div id="comment_action_button"></div>                   
                </td>
            </tr>
        </table>        
    </div>
    <div>
        <div class="pin-wrapper-bottom-start"></div>
        <div class="pin-wrapper-bottom-body"></div>
        <div class="pin-wrapper-bottom-end"></div>
    </div>
</div>