<div class="main-pin-wrappper">
    <div class="content-box">
        <table width='100%'>
            <tr>
                <td>                    
                    <p><%= this.content %></p>
                </td>
            </tr>
            <tr>
                <td class='center'>
                   <div id="comment_action_button"></div>                   
                </td>
            </tr>
        </table>        
    </div>
    <div>
        <div class="pin-wrapper-bottom-start"></div>
        <div class="pin-wrapper-bottom-body"></div>
        <div class="pin-wrapper-bottom-end"></div>
    </div>
</div>