<div class="ui-hide-label">
	<span class="icone-pemo">Title:</span>
	<input type="text" name="title" id="title" placeholder="" />
</div>

<div class="ui-hide-label">
	<span class="icone-pemo">Audio:</span>
	<!--<a id="image" data-role="button" href="" onclick="getAudio();">
            Select audio
        </a>-->
        <input type="file" name="audio" id="audio" />
</div>

<div class="ui-hide-label">
	<span class="icone-pemo">Description:</span>
	<textarea name="description" id="description"></textarea>
</div>

<div style="padding: 20px 0"><button type="submit" value="Submit" id="btSubmit"></button></div>