<div class="ui-hide-label">
	<span class="icone-pemo">Title:</span>
	<input type="text" name="title" id="title" placeholder="" />
</div>

<div class="ui-hide-label">
	<span class="icone-pemo">Video:</span>
	<!--<a id="image" data-role="button" href="" onclick="getVideo();">
            Select video
        </a>-->
        <input type="file" name="video" id="video" />
</div>

<div class="ui-hide-label">
	<span class="icone-pemo">Description:</span>
	<textarea name="description" id="description"></textarea>
</div>

<div style="padding: 20px 0"><button type="submit" value="Submit" id="btSubmit"></button></div>