<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
    <p>Are you sure you want to delete this page?</p>
    <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="b" data-mini="true">Cancel</a>
    <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b" data-mini="true">Delete</a>
</div>