<div class="pin_stats">
    <div class="pin_likes">
        <div class="icon"></div>
        <span>
            <%= like_count%> likes
        </span>
    </div>
    <div class="pin_comments">
        <div class="icon"></div>
        <span>
            <%= comment_count%> comments
        </span>
    </div>
</div>