<table class="pinner">
    <tbody>
        <tr>
            <td class="pinner_image">
                <a href="/michelledunken/" ontouchstart="">
                    <img src="http://media-cache-ec3.pinterest.com/avatars/michelledunken_1346969548.jpg" alt="Picture of michelle dunken">
                </a>
            </td>
            <td class="pinner_name">
                <a href="/michelledunken/" class="name link" ontouchstart="">
                    michelle dunken
                </a>
            </td>
            <td class="right">
                <!--
                <a href="/michelledunken/fashion/" class="board link" ontouchstart="">fashion</a>
                -->
            </td>
        </tr>
    </tbody>
</table>