<table class="pinner">
    <tbody>
        <tr>
            <td class="pinner_image">
                <a href="/michelledunken/" ontouchstart="">
                    <img src="<%= $full_base_url+this.user.image%>" alt="Picture of michelle dunken">
                </a>
            </td>
            <td class="pinner_name">
                <a href="#" class="name link" ontouchstart="">
                    <%= this.user.name%>
                </a>
            </td>
            <td class="right">
                <!--
                <a href="/michelledunken/fashion/" class="board link" ontouchstart="">fashion</a>
                -->
            </td>
        </tr>
    </tbody>
</table>