<%
    comments = (this.tick.comments === "undefined") ? null : this.tick.comments;
    if(comments != null){
%>
<%for(var i = 0; i < comments.length ; i++){%>
	<li>
		<%== $.View('//pesome/comment/list/views/comment.ejs', comments[i].comment )%>
	</li>
<%
    }
}
%>