<div align="CENTER" data-role="content" id="commentErrorDialog" style="display: none;">
    <div class="wrapper">
        <div class="map_container" style="">
            <div>Please fill in all required fields before submitting the form.</div>
            <a id="buttonCommentErr" name="buttonCommentErr" href="javascript:;;" data-role="button" data-inline="true">OK</a>
        </div>
    </div>
</div>

<div data-role="content" id="commentContentTransition" style="display: none;">
    <div align="CENTER"><span class="waiting"></span>&nbsp;<h4>Your comment has been sent. Please wait.</h4></div>
</div>