<div data-role="content">
    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
            <label for="commentInput">
                Comment
            </label>
            <textarea cols="40" rows="8" name="comment" id="commentInput" placeholder="your comment"></textarea>
        </fieldset>
    </div>
    <input id="btSubmitComment" type="submit" value="Submit">
</div>