<div data-role="content" id="commentContainer" style="padding:10px;">
    <div data-role="content">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <label for="commentInput" id="commentLabel">
                    Comment
                </label>
                <textarea cols="40" rows="18" name="comment" id="commentInput" placeholder="your comment"></textarea>
            </fieldset>
        </div>
        <input id="btSubmitComment" data-role="button" data-inline="true" type="button" value="Submit">
    </div>
</div>