<div data-role="content" id="commentContainer">
    <div data-role="content">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <label for="commentInput" id="commentLabel">
                    Comment
                </label>
                <textarea cols="40" rows="8" name="comment" id="commentInput" placeholder="your comment"></textarea>
            </fieldset>
        </div>
        <input id="btSubmitComment" type="button" value="Submit">
    </div>
</div>