<div id="user_profile">
    <img src="<%= $full_base_url+this.user.image %>" alt="<%= this.user.name %>"/>
    <div class="profile_info">
        <strong><%= this.user.name %></strong><br/>
        <a href="logout.html" data-ajax="false" style="color:#fff">Logout</a>
    </div>
</div>
<div id="sidebar_menu_content">
    <ul>
        <li id="menu1" class="active"><a href="index.html?index=1" data-ajax="false"><i class="icon-th icon-white"></i>&nbsp;View All</a></li>
        <li id="menu2"><a href="is_member.html?index=2" data-ajax="false"><i class="icon-heart icon-white"></i>&nbsp;I'm A Member</a></li>
        <li id="menu3"><a href="my_petopic.html?index=3" data-ajax="false"><i class="icon-bookmark icon-white"></i>&nbsp;My Petopic</a></li>
        <li id="menu4"><a href="my_follow.html?index=4" data-ajax="false"><i class="icon-eye-open icon-white"></i>&nbsp;My Follow</a></li>
    </ul>
    <div class="devide"></div>
    <ul>
        <li id="menu5"><a href="new_petopic.html?index=5" data-ajax="false"><i class="icon-plus-sign icon-white"></i>&nbsp;Create Petopic</a></li>
    </ul>
    <div class="devide"></div>
    <ul>
        <li id="menu6"><a href="#"><i class="icon-question-sign icon-white"></i>&nbsp;Help Center</a></li>
        <li id="menu7"><a href="#"><i class="icon-user icon-white"></i>&nbsp;Profile</a></li>
        <li id="menu8"><a href="#"><i class="icon-off icon-white"></i>&nbsp;Logout</a></li>
    </ul>
</div>