<div class="main-pin-wrappper">
    <div class="content-box">
        <table width='100%'>
            <tr>
                <td class='center'>
                    <iframe style="width:auto" src="http://player.vimeo.com/video/<%= this.embed_code %>?badge=0" frameborder="0" allowfullscreen=""></iframe>
                    <h3><%= this.content %></h3>
                </td>
            </tr>
            <tr>
                <td class='center'>
                   <div id="comment_action_button"></div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="pin-wrapper-bottom-start"></div>
        <div class="pin-wrapper-bottom-body"></div>
        <div class="pin-wrapper-bottom-end"></div>
    </div>
</div>