<div class="main-pin-wrappper">
    <div class="content-box">
        <table width='100%'>
            <tr>
                <td class='center'>
                    <iframe style="width:auto" src="http://www.youtube.com/embed/<%= this.embed_code %>?fs=1&amp;feature=oembed" frameborder="0" allowfullscreen=""></iframe>
                    <h3><%= this.content %></h3>
                </td>
            </tr>
            <tr>
                <td class='center'>
                   <div id="petick_comment_and_like_button"></div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="pin-wrapper-bottom-start"></div>
        <div class="pin-wrapper-bottom-body"></div>
        <div class="pin-wrapper-bottom-end"></div>
    </div>
</div>