<div class="ui-hide-label">
	<span class="icone-pemo">Text:</span>
	<textarea name="title" id="title"></textarea>
</div>

<div style="padding: 20px 0"><button type="submit" value="Submit" id="btSubmit"></button></div>