<div class="main-pin-wrappper">
    <div>
        <table width='100%'>
            <tr>
                <td class='center'>
                    <ul class="gallery">
                    <%
                        for(var i = 0; i < this.photos.length ; i++){

                        var photo_thumb = this.photos[i].photo.thumb;
                        var photo_large = this.photos[i].photo.large;
                    %>
                        <li><a rel="external" href="<%= $full_base_url+photo_large%>"><img src="<%= $full_base_url+photo_thumb%>" alt="Image 001" /></a></li>
                    <%  }   %>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>                    
                    <p><% d(this); %></p>
                </td>
            </tr>
            <tr>
                <td class='center'>
                   <div id="comment_action_button"></div>                   
                </td>
            </tr>
        </table>        
    </div>
    <div>
        <div class="pin-wrapper-bottom-start"></div>
        <div class="pin-wrapper-bottom-body"></div>
        <div class="pin-wrapper-bottom-end"></div>
    </div>
</div>