<a style="margin-left:-80px;" href="#popupComment" data-role="button" data-inline="true" data-mini="true" data-rel="popup" data-theme="a"><i class="icon-comment icon-white"></i> Comment</a>
<div style="float:left;" data-role="popup" id="popupComment" data-overlay-theme="a" class="ui-content">
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right" id="popupCommentClose">Close</a>
	<div id="comment_action_form"></div>
</div>

<a style="position: absolute;" href="#popupBasic" id="btLike" data-role="button" data-inline="true" data-mini="true" data-theme="a"><i class="icon-heart icon-white"></i> Like</a>